html
{
     overflow: hidden;
     height: 1800px; /* or any value */
     overflow-y: auto;
     scroll-behavior: smooth;
}
body { 
background-color: #F3EFE9;
font-family: sans-serif, Helvetica, -apple-system, 'Helvetica Neue', sans-serif; 
font-weight: 700;
}
.navbar {
    background-color: none;
    overflow: hidden;
    text-align: right;
    margin: 10px 15px 15px 10px;
    margin-top: 5px;
    display: inline;
}
.navbar a:hover {
    background-color:#9C8194;
    text-align: center;
}
div {
display:inline;
}
 ul {
        list-style-type: none;
        margin: 0px 50px 120px 150px;
        padding: 0;
    }
li {
   display: inline;
   text-align: right;
}
nav a {
font-family: sans-serif,'Gill Sans', 'Gill Sans MT', sans-serif;
font-weight: 200;
font-size: 18px;
color: black;
text-decoration: none;
padding: 16px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#F3EFE9;
    text-align: justify;
    color: black;
    font-family: -apple-system, 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding-left: 18px;
}
.contactme {
    font-family: -apple-system,'Segoe UI','Helvetica Neue', sans-serif, sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: black;
    text-align: left;
    position: absolute;
    float: left;
    left: 350px;
    top: 0px;
}
.container {
        border: none;
        padding: 0px;
        position: relative;
        left: 500px;
        top: 10px;
        bottom:200px;
        align-items: center;  
}
.button {
    padding: 9px 9px;
    font-size: 10px; 
    text-decoration: none;  
    margin: 5px 9px;
    text-align: center;
    background-color:#F3EFE9;
}
.button a {
    text-decoration: none;  
}
.button:hover {
    background-color: #9C8194;
}
.navigation-container {
        display: inline-block;
        margin-right: 50px;
        margin-top: 10px; 
        margin-left: 15px;
}
.btn {
       margin-left: 50px;
       border-color: #BDA6A2;
       border-style: solid;
       background-color: #F3EFE9;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
    height: auto;
}
.clear {
    clear: both;
}
.about {
position: absolute;
left: 0px;
right: 0%;
top: 750px;
bottom: 0%;
border: none;
height: 600px;
background-color: white;
}
.btn1 {
  border-color: #9C8194;
  border-style: solid;
  background-color: none;
  font-size: 18px;
  margin-left: 100px;
  width:150px;
  height:59px;
  background-color: white;
  float: left;
}
.btn1:hover {
    background-color: #9C8194;
}
.work {
    position: absolute;
    left: 0px;
    right: 0%;
    top: 1330px;
    bottom: 0%;
    border: none;
    height: 800px;
    background-color:#BDA6A2;
    }
.box-wrapper {
        height: 100vh;
        width: 80vw;
        display: flex;
        align-items: stretch;
        row-gap: 2px;

}
#box1 {
    margin-top: 100px;
    flex: 1 1 auto;
    margin: 5 5px;
}
#box2 {
    flex-grow: 1;
    padding: 2px;
    margin-top: 100px;
    flex: 1 1 auto;
    margin: 5 5px;
}
#box3 {
    flex-grow: 1;
    padding: 2px;
    margin-top: 100px;
    flex: 1 1 auto;
    margin: 5 0px;
    position:relative;
}
.btn2 {
    border-color: black;
    border-style: solid;
    background-color: none;
    font-size: 18px;
    margin-left: 100px;
    width:150px;
    height:59px;
    background-color: white; 
}
.btn2:hover {
    background-color: #D6C2C2; 
}
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}







