body {
height: 0 px ;  
margin-top: 5 px;  
padding: 16 px;  
background-color: #204264;
font-family: sans-serif, Helvetica, -apple-system, 'Helvetica Neue', sans-serif; 
font-weight: 700;
position: absolute;
right: 5px;
left:5px;
}
.navbar {
    background-color: #204264;
    overflow: hidden;
    float:right;
    text-align: right;
    line-height: normal;
    position: relative;
}
.navbar a:hover {
    background-color:#83ADCD;
    text-align: center;
}
div {
display: inline;
}

 ul {
        list-style-type: none;
        margin: 5px;
        padding: 0;
    }

li {
   display: inline;
   float: right;
   text-align: center;
}

li a {
font-family: Helvetica, -apple-system, 'Helvetica Neue', sans-serif;
font-style: bold;
font-size: 18px;
color: whitesmoke;
text-decoration: none;
padding: 16px;
display: block;
}
.big-div {
overflow: hidden;
position: relative;
margin: 20px 15px 15px 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 10;
    width: 100%;
    background-color:#173350;
    color: black;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
.portrait {
position:absolute;
left: 10px;
top: 200px;
display: inline-block;
margin-top: 80px;
margin-bottom: 80px;
height: 250px; 
margin: 80px 200px;
display: flex;
}
.contactme {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    text-align: left;
    position: absolute;
    float: left;
    left: 350px;
    top: 10px;
    margin-bottom: inherit;
}
.container {
        border: none;
        padding: 0px;
        position: relative;
        left: 550px;
        top: 5px;
        bottom:500px; 
        align-items: center;  
}
.button {
    border-radius: 50%;
    padding: 9px 9px;
    font-size: 18px; 
    text-decoration: none;  
    margin: 0px 2px;
    text-align: center;
    border-color: #173350 ;
}
.button a {
    text-decoration: none;  
}
.button:hover {
    background-color: #83ADCD;
}
.scrollable {
    height: 100px; /* or any value */
    overflow-y: auto;
}










